:root {
  --color-primary: rgb(163,230,53);
  --color-primary-content: rgb(236,252,203);
}

@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}

body {
  background-color: #eaeced;
}
.webWidth {
  max-width: 1280px;
  margin: 0 auto;
}

.swiper-slide {
  opacity: 0.2;
  transform: scale(0.8) !important;
  transition: all 1s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1) !important;
}

.custom-prev,
.custom-next {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  cursor: pointer;
  z-index: 10;
}

.custom-prev {
  transform: translateX(-20px);
}

.custom-next {
  transform: translateX(20px);
}
